{% extends 'cities/base.html' %}
{% load static %}


{% block title %}
    Redfab
{% endblock title %}


{% block head_extra %}
    <link rel="stylesheet" href="{% static 'cities/css/style.css' %}">
{% endblock %}


{% block bodycontent %}
    {% include "cities/menubar.html" %}

    
                        
    <!--------------main contents----------->
             
    <div class="maincontent">
        <div class="container" id="leftsidebar">
            <div id="Info" class="tabcontent">
                <h3 class="tagline"><i><b>"The Gateway to {{ city.city_name }}"</b></i></h3>
                <h3 class="subheading">{{ city.city_name }} Tourism</h3>
                <p>
                    <span id="lesschars"> {{ city.about|truncatechars:500 }} </span>
                    {% if city.about|length > 500 %}
                        <span id="dots">...</span>
                        <span id="more"> {{ city.about }}</span>
                    {% endif %}
                </p>

                {% if city.about|length > 500 %}
                    <button onclick="myFunction()" id="myBtn">Read more </button>
                {% endif %}
                
                
                <h3 class="subheading">Places To Visit In {{ city.city_name }}</h3>
                
                <!---------------Places to visit--------->
                
                <div class="cardcontainer col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {% for place in places %}
                        {% if forloop.counter0|divisibleby:"3" and forloop.counter0 != 0 %}
                            </div>
                            <div class="cardcontainer col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        {%endif%}
                        <div class="card col-sm-4" style="background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.7)),url({{ place.place_pic.url }});">
                            <div class="bottom-left">
                            {{ place.places }}
                            </div>
                            <div class="bottom-right">
                                3 Days
                            </div>
                        </div>
                    {% endfor %}
                </div>
                    <button  id="viewall">View All Places to Visit in {{ city.city_name }}</button>
                
                
                <!---------------Best city Packages--------->
                
                <h3 class="subheading">Best {{ city.city_name }} Packages</h3>
                <div class="cardcontainer col-lg-12 col-sm-12 col-xs-12">
                    <div class="card col-lg-4 col-sm-12 col-xs-12" style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)),url({% static 'cities\img\goa.jpg' %});">
                            <div class="bottom-left">
                                    <p style="color:white!important;font-size: 12px!important;letter-spacing: 1px!important;margin-bottom: 5px!important;">2N Nathula Pass | 2N MG Road</p>
                                    <h4 style="margin-bottom: 0px!important;">Enjoy Singapore</h4>
                                    <hr>
                                    <p style="color:white!important;">John Doe</p>
                                    <p><i class="fas fa-star" style="color:rgb(245,166,35);"></i> <i class="fas fa-star" style="color:rgb(245,166,35);"></i> <i class="fas fa-star" style="color:rgb(245,166,35);"></i> <i class="fas fa-star" style="color:rgb(245,166,35);"></i> <i class="fas fa-star" style="color:white;"></i></p>
                            </div>
                            <div class="bottom-right" style="font-size: 19px;color: white!important;">
                                    INR 115000
                            </div>
                    </div>
                    <div class="card col-lg-4 col-sm-12 col-xs-12" style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)),url({% static 'cities\img\goa.jpg' %});">
                            <div class="bottom-left">
                                    <p style="color:white!important;font-size: 12px!important;letter-spacing: 1px!important;margin-bottom: 5px!important;">2N Nathula Pass | 2N MG Road</p>
                                    <h4 style="margin-bottom: 0px!important;">Enjoy Singapore</h4>
                                    <hr>
                                    <p style="color:white!important;">John Doe</p>
                                    <p><i class="fas fa-star" style="color:rgb(245,166,35);"></i> <i class="fas fa-star" style="color:rgb(245,166,35);"></i> <i class="fas fa-star" style="color:rgb(245,166,35);"></i> <i class="fas fa-star" style="color:rgb(245,166,35);"></i> <i class="fas fa-star" style="color:white;"></i></p>
                            </div>
                            <div class="bottom-right" style="font-size: 19px;color: white!important;">
                                    INR 115000
                            </div>
                    </div>
                    <div class="card col-lg-4 col-sm-12 col-xs-12" style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)),url({% static 'cities\img\goa.jpg' %});">
                            <div class="bottom-left">
                                    <p style="color:white!important;font-size: 12px!important;letter-spacing: 1px!important;margin-bottom: 5px!important;">2N Nathula Pass | 2N MG Road</p>
                                    <h4 style="margin-bottom: 0px!important;">Enjoy Singapore</h4>
                                    <hr>
                                    <p style="color:white!important;">John Doe</p>
                                    <p><i class="fas fa-star" style="color:rgb(245,166,35);"></i> <i class="fas fa-star" style="color:rgb(245,166,35);"></i> <i class="fas fa-star" style="color:rgb(245,166,35);"></i> <i class="fas fa-star" style="color:rgb(245,166,35);"></i> <i class="fas fa-star" style="color:white;"></i></p>
                            </div>
                            <div class="bottom-right" style="font-size: 19px;color: white!important;">
                                    INR 115000
                            </div>
                    </div>
                </div>
                
                <div class="cardcontainer col-lg-12 col-sm-12 col-xs-12">
                    <div class="card col-lg-4 col-sm-12 col-xs-12" style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)),url({% static 'cities\img\goa.jpg' %});">
                            <div class="bottom-left">
                                    <p style="color:white!important;font-size: 12px!important;letter-spacing: 1px!important;margin-bottom: 5px!important;">2N Nathula Pass | 2N MG Road</p>
                                    <h4 style="margin-bottom: 0px!important;">Enjoy Singapore</h4>
                                    <hr>
                                    <p style="color:white!important;">John Doe</p>
                                    <p><i class="fas fa-star" style="color:rgb(245,166,35);"></i> <i class="fas fa-star" style="color:rgb(245,166,35);"></i> <i class="fas fa-star" style="color:rgb(245,166,35);"></i> <i class="fas fa-star" style="color:rgb(245,166,35);"></i> <i class="fas fa-star" style="color:white;"></i></p>
                            </div>
                            <div class="bottom-right" style="font-size: 19px;color: white!important;">
                                    INR 115000
                            </div>
                    </div>
                    <div class="card col-lg-4 col-sm-12 col-xs-12" style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)),url({% static 'cities\img\goa.jpg' %});">
                            <div class="bottom-left">
                                    <p style="color:white!important;font-size: 12px!important;letter-spacing: 1px!important;margin-bottom: 5px!important;">2N Nathula Pass | 2N MG Road</p>
                                    <h4 style="margin-bottom: 0px!important;">Enjoy Singapore</h4>
                                    <hr>
                                    <p style="color:white!important;">John Doe</p>
                                    <p><i class="fas fa-star" style="color:rgb(245,166,35);"></i> <i class="fas fa-star" style="color:rgb(245,166,35);"></i> <i class="fas fa-star" style="color:rgb(245,166,35);"></i> <i class="fas fa-star" style="color:rgb(245,166,35);"></i> <i class="fas fa-star" style="color:white;"></i></p>
                            </div>
                            <div class="bottom-right" style="font-size: 19px;color: white!important;">
                                    INR 115000
                            </div>
                    </div>
                    <div class="card col-lg-4 col-sm-12 col-xs-12" style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)),url({% static 'cities\img\goa.jpg' %});">
                            <div class="bottom-left">
                                    <p style="color:white!important;font-size: 12px!important;letter-spacing: 1px!important;margin-bottom: 5px!important;">2N Nathula Pass | 2N MG Road</p>
                                    <h4 style="margin-bottom: 0px!important;">Enjoy Singapore</h4>
                                    <hr>
                                    <p style="color:white!important;">John Doe</p>
                                    <p><i class="fas fa-star" style="color:rgb(245,166,35);"></i> <i class="fas fa-star" style="color:rgb(245,166,35);"></i> <i class="fas fa-star" style="color:rgb(245,166,35);"></i> <i class="fas fa-star" style="color:rgb(245,166,35);"></i> <i class="fas fa-star" style="color:white;"></i></p>
                            </div>
                            <div class="bottom-right" style="font-size: 19px;color: white!important;">
                                    INR 115000
                            </div>
                    </div>
                </div>
                <button id="explore">View All Itineraries </button>
                
                <!---------------------Top Hotels------------->
            
                <h3 class="subheading">top hotels - {{ city.city_name }}</h3>
                <div class="cardcontainer col-sm-12 col-xs-12">
                    <div class="card col-lg-3 col-md-6 col-sm-12 col-xs-12" id="tophotels" style="height: 235px;">
                        <img src="{% static 'cities\img\goa.jpg' %}" class="card-img-top" alt="..." style="border-radius: 5px 5px 0px 0px!important;">
                        <div class="card-body">
                            <p><span class="place">Udaipur</span></p>
                            <h5><b>The Leela Palace</b></h5>
                            <p><span class="place"><i class="fas fa-rupee-sign"></i> 42,551 per night for two</span></p>
                        </div>
                    </div>
                    <div class="card col-lg-3 col-md-6 col-sm-12 col-xs-12" id="tophotels" style="height: 235px;">
                        <img src="{% static 'cities\img\goa.jpg' %}" class="card-img-top" alt="..." style="border-radius: 5px 5px 0px 0px!important;">
                        <div class="card-body">
                            <p><span class="place">Udaipur</span></p>
                            <h5><b>The Leela Palace</b></h5>
                            <p><span class="place"><i class="fas fa-rupee-sign"></i> 42,551 per night for two</span></p>
                        </div>
                    </div>
                    <div class="card col-lg-3 col-md-6 col-sm-12 col-xs-12" id="tophotels" style="height: 235px;">
                        <img src="{% static 'cities\img\goa.jpg' %}" class="card-img-top" alt="..." style="border-radius: 5px 5px 0px 0px!important;">
                        <div class="card-body">
                            <p><span class="place">Udaipur</span></p>
                            <h5><b>The Leela Palace</b></h5>
                            <p><span class="place"><i class="fas fa-rupee-sign"></i> 42,551 per night for two</span></p>
                        </div>
                    </div>
                    <div class="card col-lg-3 col-md-6 col-sm-12 col-xs-12" id="tophotels" style="height: 235px;">
                        <img src="{% static 'cities\img\goa.jpg' %}" class="card-img-top" alt="..." style="border-radius: 5px 5px 0px 0px!important;">
                        <div class="card-body">
                            <p><span class="place">Udaipur</span></p>
                            <h5><b>The Leela Palace</b></h5>
                            <p><span class="place"><i class="fas fa-rupee-sign"></i> 42,551 per night for two</span></p>
                        </div>
                    </div>
                </div>
                
                <button id="explore">View All Hotels </button>
                <!-------------------------FAQ-------------------->
                
                <h3 class="subheading">faq - clear all queries</h3>
                <div class="cardcontainer col-sm-12 col-xs-12" style="display: block!important;">
                    <button class="collapsible"><b>More on MG Road</b> <span style="color: tomato!important; float: right;"><i class="fas fa-sort-down fa-lg"></i></span></button>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem temporibus aperiam labore omnis sint obcaecati, illum ad sunt alias amet saepe nostrum, consectetur nulla a magnam dolores quod. Aliquam illum repudiandae explicabo pariatur cum esse asperiores, expedita accusamus totam quidem ex. Fugit eligendi dignissimos similique optio sequi perspiciatis non veniam voluptatum ad, tempore, aspernatur quia quos, fugiat voluptatem quasi rerum. Illo, architecto, inventore. Inventore explicabo qui sint esse atque ipsam laudantium, veritatis quos doloremque error, nisi, vitae dolores ipsa dolore.</p>
                    </div> 
                    <button class="collapsible"><b>MG Road Shopping</b><span style="color: tomato!important; float: right;"><i class="fas fa-sort-down fa-lg"></i></span></button>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem temporibus aperiam labore omnis sint obcaecati, illum ad sunt alias amet saepe nostrum, consectetur nulla a magnam dolores quod. Aliquam illum repudiandae explicabo pariatur cum esse asperiores, expedita accusamus totam quidem ex. Fugit eligendi
                        </p>
                    </div>
                    <button class="collapsible"><b>Restaurants and Bars at MG Road</b><span style="color: tomato!important; float: right;"><i class="fas fa-sort-down fa-lg"></i></span></button>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem temporibus aperiam labore omnis sint obcaecati, illum ad sunt alias amet saepe nostrum, consectetur nulla a magnam dolores quod. Aliquam illum repudiandae explicabo pariatur cum esse asperiores, expedita accusamus totam quidem ex. Fugit eligendi
                        </p>
                    </div> 
                    <button class="collapsible"><b>Gangtok Food and Cultural Festival</b> <span style="color: tomato!important; float: right;"><i class="fas fa-sort-down fa-lg"></i></span></button>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem temporibus aperiam labore omnis sint obcaecati, illum ad sunt alias amet saepe nostrum, consectetur nulla a magnam dolores quod. Aliquam illum repudiandae explicabo pariatur cum esse asperiores, expedita accusamus totam quidem ex. Fugit eligendi
                        </p>
                    </div> 
                    <button class="collapsible"><b>Tips For Visiting MG Road</b> <span style="color: tomato!important; float: right;"><i class="fas fa-sort-down fa-lg"></i></span></button>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem temporibus aperiam labore omnis sint obcaecati, illum ad sunt alias amet saepe nostrum, consectetur nulla a magnam dolores quod. Aliquam illum repudiandae explicabo pariatur cum esse asperiores, expedita accusamus totam quidem ex. Fugit eligendi
                        </p>
                    </div>    
                </div>
                
                <!---------------------Featured Content & Guide------------->
            
                <h3 class="subheading" style="margin-top: 55px!important;">Featured Content & Guide</h3>
                <div class="cardcontainer col-sm-12 col-xs-12">
                    <div class="card col-lg-3 col-md-6 col-sm-12 col-xs-12" style="width: 18rem;height: 235px;" id="featured">
                        <img src="{% static 'cities\img\goa.jpg' %}" class="card-img-top" alt="..." style="border-radius: 5px 5px 0px 0px!important;">
                        <div class="card-body">
                            <p style="margin-left: 10px!important;"><span style="color: tomato!important;"><i class="fas fa-images fa-lg"></i> </span><span style="color: gray!important;font-family: 'Poppins', sans-serif; ">Adventure, Photos</span></p>
                            <h5 style="margin-left: 10px!important;"><b>Views of the Grand Canyon</b></h5>
                        </div>
                    </div>
                    <div class="card col-lg-3 col-md-6 col-sm-12 col-xs-12" style="width: 18rem;height: 235px;" id="featured">
                        <img src="{% static 'cities\img\goa.jpg' %}" class="card-img-top" alt="..." style="border-radius: 5px 5px 0px 0px!important;">
                        <div class="card-body">
                            <p style="margin-left: 10px!important;"><span style="color: tomato!important;"><i class="fas fa-images fa-lg"></i> </span><span style="color: gray!important;font-family: 'Poppins', sans-serif; ">Adventure, Photos</span></p>
                            <h5 style="margin-left: 10px!important;"><b>A Lifetime of Hope and regret</b></h5>
                        </div>
                    </div>
                    <div class="card col-lg-3 col-md-6 col-sm-12 col-xs-12" style="width: 18rem;height: 235px;" id="featured">
                        <img src="{% static 'cities\img\goa.jpg' %}" class="card-img-top" alt="..." style="border-radius: 5px 5px 0px 0px!important;">
                        <div class="card-body">
                            <p style="margin-left: 10px!important;"><span style="color: tomato!important;"><i class="fas fa-images fa-lg"></i> </span><span style="color: gray!important;font-family: 'Poppins', sans-serif; ">Adventure, Photos</span></p>
                            <h5 style="margin-left: 10px!important;"><b>The Best Lesbian Travel Blogs</b></h5>
                        </div>
                    </div>
                    <div class="card col-lg-3 col-md-6 col-sm-12 col-xs-12" style="width: 18rem;height: 235px;" id="featured">
                        <img src="{% static 'cities\img\goa.jpg' %}" class="card-img-top" alt="..." style="border-radius: 5px 5px 0px 0px!important;">
                        <div class="card-body">
                            <p style="margin-left: 10px!important;"><span style="color: tomato!important;"><i class="fas fa-images fa-lg"></i> </span><span style="color: gray!important;font-family: 'Poppins', sans-serif; ">Adventure, Photos</span></p>
                            <h5 style="margin-left: 10px!important;"><b>Adelaid to Alice Springs Overland</b></h5>
                        </div>
                    </div>
                </div>
                <div class="rightsidebar">
                    <h3 class="subheading">Top Packages</h3>
                    <div class="sidebarcontent">
                     <div class="card" style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)),url({% static 'cities\img\goa.jpg' %});width: 90%!important;height: 200px!important;">
                        <div class="bottom-left">
                            <p style="color:white!important;font-size: 0.8rem!important;letter-spacing: 1px!important;margin-bottom: 5px!important;">2N Nathula Pass | 2N MG Road</p>
                            <h4 style="margin-bottom: 0px!important;font-size: 1.4rem!important;"><b>Enjoy Singapore</b></h4>
                            <hr>
                            <p style="color:white!important;">John Doe</p>
                            <p><i class="fas fa-star" style="color:rgb(245,166,35);"></i> <i class="fas fa-star" style="color:rgb(245,166,35);"></i> <i class="fas fa-star" style="color:rgb(245,166,35);"></i> <i class="fas fa-star" style="color:rgb(245,166,35);"></i> <i class="fas fa-star" style="color:white;"></i></p>
                        </div>
                        <div class="bottom-right" style="font-size: 1.2rem!important;color: white!important;">
                            INR 115000
                        </div>
                      </div>
                    </div> 
                    <div class="sidebarcontent">
                     <div class="card" style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)),url({% static 'cities\img\goa.jpg' %});width: 90%!important;height: 200px!important;">
                        <div class="bottom-left">
                            <p style="color:white!important;font-size: 0.8rem!important;letter-spacing: 1px!important;margin-bottom: 5px!important;">2N Nathula Pass | 2N MG Road</p>
                            <h4 style="margin-bottom: 0px!important;font-size: 1.4rem!important;"><b>Enjoy Singapore</b></h4>
                            <hr>
                            <p style="color:white!important;">John Doe</p>
                            <p><i class="fas fa-star" style="color:rgb(245,166,35);"></i> <i class="fas fa-star" style="color:rgb(245,166,35);"></i> <i class="fas fa-star" style="color:rgb(245,166,35);"></i> <i class="fas fa-star" style="color:rgb(245,166,35);"></i> <i class="fas fa-star" style="color:white;"></i></p>
                        </div>
                        <div class="bottom-right" style="font-size: 1.2rem!important;color: white!important;">
                            INR 115000
                        </div>
                      </div>
                    </div> 
                    <h3 class="subheading">Similar Places</h3>
                    <div class="sidebarcontent">
                     <div class="card" style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)),url({% static 'cities\img\goa.jpg' %});width: 90%!important;height: 200px!important;">
                        <div class="bottom-left">
                            <p style="color:white!important;font-size: 0.8rem!important;letter-spacing: 1px!important;margin-bottom: 5px!important;">2N Nathula Pass | 2N MG Road</p>
                            <h4 style="margin-bottom: 0px!important;font-size: 1.4rem!important;"><b>Enjoy Singapore</b></h4>
                            <hr>
                            <p style="color:white!important;">John Doe</p>
                            <p><i class="fas fa-star" style="color:rgb(245,166,35);"></i> <i class="fas fa-star" style="color:rgb(245,166,35);"></i> <i class="fas fa-star" style="color:rgb(245,166,35);"></i> <i class="fas fa-star" style="color:rgb(245,166,35);"></i> <i class="fas fa-star" style="color:white;"></i></p>
                        </div>
                        <div class="bottom-right" style="font-size: 1.2rem!important;color: white!important;">
                            INR 115000
                        </div>
                      </div>
                    </div> 
                    <div class="sidebarcontent">
                     <div class="card" style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)),url({% static 'cities\img\goa.jpg' %});width: 90%!important;height: 200px!important;">
                        <div class="bottom-left">
                            <p style="color:white!important;font-size: 0.8rem!important;letter-spacing: 1px!important;margin-bottom: 5px!important;">2N Nathula Pass | 2N MG Road</p>
                            <h4 style="margin-bottom: 0px!important;font-size: 1.4rem!important;"><b>Enjoy Singapore</b></h4>
                            <hr>
                            <p style="color:white!important;">John Doe</p>
                            <p><i class="fas fa-star" style="color:rgb(245,166,35);"></i> <i class="fas fa-star" style="color:rgb(245,166,35);"></i> <i class="fas fa-star" style="color:rgb(245,166,35);"></i> <i class="fas fa-star" style="color:rgb(245,166,35);"></i> <i class="fas fa-star" style="color:white;"></i></p>
                        </div>
                        <div class="bottom-right" style="font-size: 1.2rem!important;color: white!important;">
                            INR 115000
                        </div>
                      </div>
                    </div> 
                </div>
            </div>            
        </div>
    </div>
{% endblock bodycontent %}


{% block scriptcontent %} 
    <script src="{% static 'cities/js/read.js' %}"></script>
    <script src="{% static 'cities/js/collapsible.js' %}"></script>
{% endblock %}