{% extends 'cities/base.html' %}
{% load static %}

{% block title %}
    Redfab
{% endblock title %}


{% block head_extra %}
    <link rel="stylesheet" href="{% static 'cities/css/food_style.css' %}">
{% endblock %}


{% block bodycontent %}
{% include "cities/menubar.html" %}<br>

  <!--------Cuisine Section------------>
   
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row" id="row-align">
            <div class="col-sm-3">
              <div class="card" id="cuisine-card">
                <div class="card-body" id="cuisine-body" style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({% static 'cities\img\cuisine.jpeg' %});">
                  <div class="centered">
                     <p class="cuisine-font">
                         Chinese
                     </p> 
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card" id="cuisine-card">
                <div class="card-body" id="cuisine-body" style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({% static 'cities\img\cuisine.jpeg' %});">
                  <div class="centered">
                     <p class="cuisine-font">
                         Chinese
                     </p> 
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card" id="cuisine-card">
                <div class="card-body" id="cuisine-body" style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({% static 'cities\img\cuisine.jpeg' %});">
                  <div class="centered">
                     <p class="cuisine-font">
                         Chinese
                     </p> 
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card" id="cuisine-card">
                <div class="card-body" id="cuisine-body" style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({% static 'cities\img\cuisine.jpeg' %});">
                  <div class="centered">
                     <p class="cuisine-font">
                         Chinese
                     </p> 
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="row-align" style="margin-top: 20px;">
            <div class="col-sm-3">
              <div class="card" id="cuisine-card">
                <div class="card-body" id="cuisine-body" style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({% static 'cities\img\cuisine.jpeg' %});">
                  <div class="centered">
                     <p class="cuisine-font">
                         Chinese
                     </p> 
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card" id="cuisine-card">
                <div class="card-body" id="cuisine-body" style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({% static 'cities\img\cuisine.jpeg' %});">
                  <div class="centered">
                     <p class="cuisine-font">
                         Chinese
                     </p> 
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card" id="cuisine-card">
                <div class="card-body" id="cuisine-body" style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({% static 'cities\img\cuisine.jpeg' %});">
                  <div class="centered">
                     <p class="cuisine-font">
                         Chinese
                     </p> 
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card" id="cuisine-card">
                <div class="card-body" id="cuisine-body" style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({% static 'cities\img\cuisine.jpeg' %});">
                  <div class="centered">
                     <p class="cuisine-font">
                         Chinese
                     </p> 
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
  
<!-------------Filter---------------->
    
     <div class="container">
     <div class="row">
      <div class="accordion col-sm-3" id="accordionExample">
        <div class="card" style="border: 0!important;background-color: transparent!important;">
          <div class="card-header" id="headingOne" style="background-color: transparent!important;">
              <button class="btn btn-design" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="font-family: 'Poppins', sans-serif;letter-spacing: 1px;background-color: rgb(248,248,248)!important;border-color: transparent!important;color: tomato!important;text-align: left!important;padding-left: 0px!important;">
                <b>Meals</b>
              </button>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body" style="padding-top: 10px!important;padding-right: 0px!important;padding-left: 0px!important">
              {% for meal in meals %}  
                <label class="contain"><span class="filter-font">{{meal.meal_name}}</span> 
                  <input type="checkbox" class="common-selector meal" value="{{ meal.pk }}">
                  <span class="checkmark"></span>
                </label>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="card" style="border: 0!important;background-color: transparent!important;">
          <div class="card-header" id="headingOne" style="background-color: transparent!important;">
              <button class="btn btn-design" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" style="font-family: 'Poppins', sans-serif;letter-spacing: 1px;background-color: rgb(248,248,248)!important;border-color: transparent!important;color: tomato!important;text-align: left!important;padding-left: 0px!important;">
                <b>Price</b>
              </button>
          </div>

          <div id="collapseTwo" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body" style="padding-top: 10px!important;padding-right: 0px!important;padding-left: 0px!important">
              <label class="contain"><span class="filter-font">Luxury</span> 
                <input type="checkbox" class="common-selector price" value="2000,3000">
                <span class="checkmark"></span>
              </label>

              <label class="contain"><span class="filter-font">Fine Dining</span> 
                <input type="checkbox" class="common-selector price" value="1000,2000">
                <span class="checkmark"></span>
              </label>

              <label class="contain"><span class="filter-font">Mid-Range</span> 
                <input type="checkbox" class="common-selector price" value="500,1000">
                <span class="checkmark"></span>
              </label>

              <label class="contain"><span class="filter-font">Cheap Eats</span> 
                <input type="checkbox" class="common-selector price" value="0,500">
                <span class="checkmark"></span>
              </label>
              
            </div>
          </div>
        </div>

        <div class="card" style="border: 0!important;background-color: transparent!important;">
          <div class="card-header" id="headingOne" style="background-color: transparent!important;">
              <button class="btn btn-design" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="font-family: 'Poppins', sans-serif;letter-spacing: 2px;background-color: rgb(248,248,248)!important;border-color: transparent!important;color: tomato!important;text-align: left!important;padding-left: 0px!important;">
                <b>Dietary Types</b>
              </button>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body" style="padding-top: 10px!important;padding-right: 0px!important;padding-left: 0px!important">
              {% for dietary_type in dietary_types %}
                <label class="contain"><span class="filter-font">{{dietary_type.dietary_type_name}}</span> 
                  <input type="checkbox" class="common-selector dietary" value="{{ dietary_type.pk }}">
                  <span class="checkmark"></span>
                </label>
              {% endfor %}
            </div>
          </div>
        </div>
        
<!--          Trip Advisor -->
     
      <div class="trip_advisor">
       <div class="card" style="border: 0!important;background-color: transparent!important;">
          <div class="card-header" id="headingOne" style="background-color: transparent!important;">
              <button class="btn btn-design" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="font-family: 'Poppins', sans-serif;letter-spacing: 2px;background-color: rgb(248,248,248)!important;border-color: transparent!important;color: tomato!important;text-align: left!important;padding-left: 0px!important;transform: translate(-3%)">
                <b>Cuisine</b>
              </button>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body" style="padding-top: 10px!important;padding-right: 0px!important;padding-left: 0px!important">
                {% for cuisine in cuisines %}
                  <label class="contain"><span class="filter-font">{{ cuisine.cuisine_name }}</span> 
                    <input type="checkbox" class="common-selector cuisine" value="{{ cuisine.pk }}">
                    <span class="checkmark"></span>
                  </label>
                {% endfor %}
               
            </div>
          </div>
        </div>
        </div>
        
        <div class="trip_advisor">
       <div class="card" style="border: 0!important;background-color: transparent!important;">
          <div class="card-header" id="headingOne" style="background-color: transparent!important;">
 
              <button class="btn btn-design" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="font-family: 'Poppins', sans-serif;letter-spacing: 2px;background-color: rgb(248,248,248)!important;border-color: transparent!important;color: tomato!important;text-align: left!important;padding-left: 0px!important;transform: translate(-3%)">
                <b>Features</b>
              </button>
  
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body" style="padding-top: 10px!important;padding-right: 0px!important;padding-left: 0px!important">
                
                {% for feature in features %}
                  <label class="contain"><span class="filter-font">{{ feature.feature_name }}</span> 
                    <input type="checkbox" class="common-selector feature" value="{{ feature.pk }}">
                    <span class="checkmark"></span>
                  </label>
                {% endfor %}
            </div>
          </div>
        </div>
        </div>
      </div>
      
<!----------------Card------------->
    
      <div class="card mb-3 col-sm-9 fetch-data" >
          {% include "cities/food_filter.html" %}    
      </div>
      
     </div>
  </div>
  <input type="hidden" id="city_id" value="{{city.city_id}}">
{% endblock bodycontent %}


{% block scriptcontent %}
  <script src="{% static 'cities/js/filter.js' %} "></script>
  <script src="{% static 'cities/js/read.js' %} "></script>
  <script src="{% static 'cities/js/5more.js' %} "></script>
  <script>
      $(document).ready(function(){
        //filter_data();
        function filter_data(){

          var city_id = $("#city_id").val();
          var meals = get_filter('meal');
          var price = get_filter('price');
          var feature = get_filter('feature');
          var cuisine = get_filter('cuisine');
          var dietary = get_filter('dietary');
          $.post({
            url:"{% url 'cities-city_foods_filter' %}",
            data:{'city_id':city_id, 'meals':meals, 'price':price, 'feature':feature,
                  'cuisine':cuisine, 'dietary':dietary,
                  'csrfmiddlewaretoken': '{{ csrf_token }}'},
            success:function(data){
              $('.fetch-data').html(data);
            }
          });
        }

        function get_filter(class_name){
          var filter = [];
          $('.' + class_name + ':checked').each(function(){
              filter.push($(this).val());
          });
          return filter;
        }

        $('.common-selector').click(function(){
          filter_data();
        });

      });
    </script>
{% endblock %}